@media (max-width: 1080px) {
    .faq-wrap {
        margin-top: 6rem;
        margin-right: 1rem;
        margin-left: 1rem; 
        font-family: 'AvenirLight'; 
    }
}

@media (min-width: 1080px) {
    .faq-wrap {
        margin-top: 10rem; 
        font-family: 'AvenirLight'; 
        max-width: 60%;
        margin: 0 auto;
    }
}

@media (min-width: 700px) {
    .faq-wrap {
        margin-top: 10rem; 
        font-family: 'AvenirLight'; 
    }
}

@media (min-width: 1080px) {
    .faq-text {
        font-size: 22px;
        margin-left: 10rem; 
        margin-right: 10rem; 
        margin-bottom: 7rem; 
    }
}

@media (max-width: 1079px) {
    .faq-text {
        font-size: 22px;
        margin-left: 1rem; 
        margin-right: 1rem; 
        margin-bottom: 6rem; 
    }
}

@media (max-width: 1079px) {
    .faq-title {
        font-size: 25px;
        font-family: 'Avenir'; 
        color: #3f3f3f; 
        margin-left: 1rem; 
        }
}

@media (min-width: 1080px) {
    .faq-title {
        font-size: 26px;
        font-family: 'Avenir'; 
        color: #3f3f3f; 
        margin-left: 10rem; 
        margin-top: 5rem
        }
}

.all-faq {
    margin-right: 10rem;
    margin-left: 10rem; 
    margin-bottom: 3rem;
}