footer {
    text-align: center;
    padding: 10px;
}


@media (max-width: 900px) {
    .icons {
        margin-top: 3rem;
        justify-content: space-evenly;
        flex-direction: row;
    }
}

@media (min-width: 901px) {
    .icons {
        margin-top: 5rem;
        justify-content: space-evenly;
        flex-direction: row;
    }
}

.iconF {
    border-radius: 50%;
    justify-content: center;
    height: 40px;  
    margin: 0.5rem;
    /* background-color: #fc6272;  */
    display: inline-block;
    padding: 20px; 
    transition: all 0.3s;
}

.iconI { 
    border-radius: 50%;
    justify-content: center;
    height: 50px;  
    margin: 0.5rem;
    /* background-color: #fc6272; */
    display: inline-block;
    padding: 15px; 
    transition: all 0.3s;
}

.iconS {
    border-radius: 50%;
    justify-content: center;
    height: 45px; 
    margin: 0.5rem;
    /* background-color: #fc6272; */
    display: inline-block;
    padding: 16px; 
    transition: all 0.3s;
}

.iconS:hover {
    background-color: #fc6272;
}

.iconI:hover {
    background-color: #fc6272;
}

.iconF:hover {
    background-color: #fc6272;
}

