header {
    text-align: center;
}

a   {  
    text-decoration:none;
}

@media (min-width: 901px) {
    header img {
        max-width: 325px;  
        margin: 5rem;
    }
}

@media (max-width: 900px) {
    header img {
        max-width: 325px;  
        margin: 0.5rem;
    }
}

header ul {
    text-align: center;
    padding-inline-start: 0px;
}

.link:hover {
    color: #FC6272;
}

@media (max-width: 900px) {
    .link { 
        font-size: 30px;
        font-family: 'EvogriaIt'; 
        display: inline-block;
        margin: 1.5rem; 
        color: #3f3f3f; 
        transition: all 0.3s;
        display: block; 
        }
        .activeLink  {
            color: #FC6272;
        }
    }
      

@media (min-width: 901px) {
    .link { 
        font-size: 30px;
        font-family: 'EvogriaIt'; 
        display: inline-block;
        margin: 1.5rem; 
        margin-bottom: 4rem; 
        color: #3f3f3f; 
        transition: all 0.3s;
        text-decoration: none;
        }
    .activeLink  {
            color: #FC6272;
        }
}

