@media (max-width: 900px) {
    .cardwrap {
        padding-top: 5rem; 
        padding-bottom: 2rem; 
        position: relative;
        font-family: "Avenir";
        color: #3f3f3f; 
        text-align: center;
        }
}

@media (min-width: 901px) {
    .listenwrap {
        display: flex;
        margin: 0 auto;
        width: 720px;
    }

    .cardwrap {
        padding-top: 5rem; 
        padding-bottom: 2rem; 
        position: relative;
        font-family: "Avenir"; 
        color: #3f3f3f; 
        }

        .cardwrap h3 {
            margin-left: 2rem; 
            font-size: 24px;
        }

        .cardwrap p {
            margin-left: 2rem; 
            font-family: 'AvenirLight';
            padding-bottom: 3rem;
            font-size: 22px; 
        }
    }

@media (max-width: 600px) {

    .cardwrap {
        padding-top: 5rem; 
        padding-bottom: 2rem; 
        position: relative;
        font-family: "Avenir"; 
        color: #3f3f3f; 
        text-align: center;
    }

    .cardwrap h3 {
        font-size: 24px;
    }
    
    .cardwrap p {
        font-family: 'AvenirLight';
        padding-bottom: 3rem;
        font-size: 22px; 
    }
}


.react-player {
    box-sizing: border-box;
    padding: 0 2rem; 
    margin: 2rem 0;
}

.react-player iframe {
    height: 100%;
    max-width: 300px;
    width: 100%;
}


