@media (max-width: 900px) {
    .cardwrap {
        padding-top: 5rem; 
        padding-bottom: 2rem; 
        position: relative;
        align-items: center;
        font-family: "Avenir";
        color: #3f3f3f; 
        }
}

@media (min-width: 901px) {
    .listenwrap {
        display: flex;
        margin: 0 auto;
        width: 720px;
    }

    .cardwrap {
        padding-top: 5rem; 
        padding-bottom: 2rem; 
        position: relative;
        font-family: "Avenir"; 
        color: #3f3f3f; 
        }
    }

.react-player {
    margin: 2rem; 
}

.cardwrap h3 {
    margin-left: 2rem; 
    font-size: 24px;
}

.cardwrap p {
    margin-left: 2rem; 
    font-family: 'AvenirLight';
    padding-bottom: 3rem;
    font-size: 22px; 
}

