.review-wrap {
    font-size: 22px;
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 5rem;
    font-family: 'AvenirLight'; 
}

@media (min-width: 901px) {
    .all-reviews {
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 3rem;
    max-width: 60%;
    }
}

.review-wrap h3 {
    font-family: 'Avenir'; 
    color: #3f3f3f; 
}

.review-wrap p {
    font-size: 22px;    
}